:root{
  --color-navy: #1a2f44;
}
body {
  margin: 0;
  background-color: var(--color-navy);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  margin: 0;
  font-family: 'Scheherazade New';
  background-color: var(--color-navy);
  .header{
      display: flex;
      justify-content: space-between;
      margin-bottom: 7%;
      &_select{
        border: none;
        cursor: pointer;
        text-align-last: center;
        background-color: var(--color-navy);
        color: white;
      }
      &_search{
        height: 34px;
        width: 34px;
        background-color: var(--color-navy);
        color: white;
        border: none;
        cursor: pointer;
        // background-image: url(../img/magnifier.png);
      }
    }
  

}


     